@font-face {
  font-family: 'Playfair Display';
  font-style: normal;
  font-weight: 400;
  src: url(/vitaecharm/clone/fonts/nuFvD-vYSZviVYUb_rj3ij__anPXJzDwcbmjWBN2-ec27347baaef.ttf) format('truetype');
}
