<div class="checkout-footer-links">
  <a href="{{ campaign.store_returns }}" target="_blank" class="link">
    <div>Refund policy</div>
  </a>
  <a href="{{ campaign.store_shipping }}" target="_blank" class="link">
    <div>Shipping</div>
  </a>
  <a href="{{ campaign.store_privacy }}" target="_blank" class="link">
    <div>Privacy policy</div>
  </a>
  <a href="{{ campaign.store_terms }}" target="_blank" class="link">
    <div>Terms of service</div>
  </a>
  <a href="{{ campaign.store_cancellations }}" target="_blank" class="link">
    <div>Cancellations</div>
  </a>
</div>
